.dashboard-container {
  background-color: #2C3333;
  color: #E7F6F2;
  padding: 20px;
  text-align: center;
}

.dashboard-title {
  font-size: 28px;
  margin-bottom: 20px;
}

.create-animation-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff4e4e;
  color: white;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.2s;
  margin-bottom: 20px;
}

.create-animation-link:hover {
  background-color: #0056b3;
}

.animation-cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
  max-width: 800px; /* Limit the width of the grid */
  margin: 0 auto; /* Center the grid */
}

/* Dashboard.css */

/* ... (existing styles) */

.animation-card {
  /* ... (existing styles) */

  /* Add transition for smooth animation */
  transition: transform 0.2s;
  text-decoration: none;
}

.animation-card.selected {
  /* Add styling for the selected card */
  border: 2px solid #007bff; /* Blue border */
  transform: scale(1.05); /* Slightly scale up the selected card */
  text-decoration: none;
}


.animation-card:hover {
  transform: translateY(-5px);
  text-decoration: none;
}

.animation-card-title {
  font-size: 20px;
  margin-bottom: 10px;
  color: #E7F6F2;
}

.animation-card-description {
  color: #b0b0b0;
}
