.person-details {
  margin-left: 30px;
  margin-bottom: 20px;
  text-align: left;
}

.input-label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #b0b0b0;
}

.name-input,
.file-input {
  width: 80%;
  padding: 8px;
  border: 1px solid #333;
  border-radius: 4px;
  background-color: #1c1c1c;
  color: rgb(255, 255, 255);
  font-size: 14px;
  margin-bottom: 10px;
}

.file-input {
  display: none;
}

.file-label {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  font-size: 12px;
  margin-right: 10px; /* Added margin to separate from Save button */
}

.file-label:hover {
  background-color: #0056b3;
}

/* Styling for the Save button */
.save-button {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #f0f0f0; /* Light background color */
  color: #333; /* Different color than Choose Profile button */
  border-radius: 4px;
  font-size: 12px;
}

.save-button:hover {
  background-color: #d0d0d0; /* Lighter background color on hover */
}
